@{
    ViewData["Title"] = "Cadastro";
}

<section class="page-section" id="cadastro  ">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Cadastro!</h2>
                <hr class="divider" />
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">

                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder=""
                            data-sb-validations="required,email" />
                        <label for="email">Email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="Password" placeholder=""
                            data-sb-validations="required" />
                        <label for="phone">Senha</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Uma Senha is required.</div>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="Password" placeholder=""
                            data-sb-validations="required" />
                        <label for="phone">Confirmar Senha</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Uma Senha is required.</div>
                    </div>



                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Conta criada efetuado com sucesso</div>
                            <a
                                href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3"></div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton"
                            type="submit">Cadastrar</button></div>
                </form>
            </div>
        </div>
    </div>
</section>