@model FilmeModel
@{
    ViewData["Title"] = "Apagar Filmes";
}

<div class="text-center">
    <h3>Realmente deseja apagar o filme (@Model.Titulo)?</h3>

    <a class="btn btn-primary" role="button" asp-controller="Filme" asp-action="Index"> Cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-route-id="@Model.Id" asp-controller="Filme" asp-action="Deletar"> Confirmar exclusão</a>
</div>